# @group Creates a new table in the email
# DASH = Don't Run
# ASTERISK = Expected Failure, don't run and put it in the expected failures table (Run Yellow)

# FastPlot = Plot every nth data point (hardcoded)
# FullPlot = Plot all data points
# FastPlotErrors = Only plot failures and only every nth data point (hardcoded)
# FullPlotErrors = Plot all data points only for failing data
# MemoryFastPlot = Do a fast plot, but manage memory better, slower plotting, but can handle larger files

ReportName=Debugging Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

# These are used for testing and utilizing serialization
#Patients=all
# Replace patient file with it's associated patient state, if scenario has no conditions
UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.datamodel.testing.CDMUnitTestDriver
Executor=mil.tatrc.physiology.pulse.testing.EngineUnitTestDriver
Executor=mil.tatrc.physiology.pulse.testing.ScenarioTestDriver

Macro CDMUnitTest=CDMUnitTestDriver FastPlotErrors Baseline=unit_tests/cdm/ Computed=./test_results/unit_tests/cdm
Macro EngineUnitTest=EngineUnitTestDriver FastPlot Baseline=unit_tests/pulse/ Computed=./test_results/unit_tests/pulse
Macro EngineUnitTestFull=EngineUnitTestDriver FullPlot Baseline=unit_tests/pulse/ Computed=./test_results/unit_tests/pulse
Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=scenarios/ Computed=./test_results/scenarios

patient/BasicStandard.pba = ScenarioTest
