# @group Creates a new table in the email
# DASH = Don't Run
# ASTERISK = Expected Failure, don't run and put it in the expected failures table (Run Yellow)

# FastPlot = Plot every nth data point (hardcoded)
# FullPlot = Plot all data points
# FastPlotErrors = Only plot failures and only every nth data point (hardcoded)
# FullPlotErrors = Plot all data points only for failing data
# MemoryFastPlot = Do a fast plot, but manage memory better, slower plotting, but can handle larger files

ReportName=Debugging Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

# These are used for testing and utilizing serialization
#Patients=all
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.datamodel.testing.CDMUnitTestDriver
Executor=mil.tatrc.physiology.pulse.testing.EngineUnitTestDriver
Executor=mil.tatrc.physiology.pulse.testing.ScenarioTestDriver

Macro CDMUnitTest=CDMUnitTestDriver FastPlotErrors Baseline=unit_tests/cdm/ Computed=./test_results/unit_tests/cdm
Macro EngineUnitTest=EngineUnitTestDriver FastPlot Baseline=unit_tests/pulse/ Computed=./test_results/unit_tests/pulse
Macro EngineUnitTestFull=EngineUnitTestDriver FullPlot Baseline=unit_tests/pulse/ Computed=./test_results/unit_tests/pulse
Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=scenarios/ Computed=./test_results/scenarios

Patient/AirwayObstructionVaried.pba = ScenarioTest
Patient/AcuteStress.pba = ScenarioTest
Patient/AsthmaAttackModerateAcute.pba = ScenarioTest
Patient/AsthmaAttackSevereAcute.pba = ScenarioTest
Patient/AsthmaAttackLifeThreateningAcute.pba = ScenarioTest
Patient/Anemia30.pba = ScenarioTest
Patient/ApneaVaried.pba = ScenarioTest
Patient/Baroreceptors.pba = ScenarioTest
Patient/BrainInjury.pba = ScenarioTest
Patient/BronchoConstrictionVaried.pba = ScenarioTest
Patient/COPDSevereEmphysema.pba = ScenarioTest
Patient/COPDSevereBronchitis.pba = ScenarioTest
Patient/Cough.pba = ScenarioTest
Patient/CPRForceScaleMax.pba = ScenarioTest
Patient/CPRForceScale.pba = ScenarioTest
Patient/CPRForce.pba = ScenarioTest
Patient/EffusionCondition.pba = ScenarioTest
Patient/EffusionConditionPlus.pba = ScenarioTest
Patient/EsophagealIntubation.pba = ScenarioTest
Patient/HemorrhageClass2NoFluid.pba = ScenarioTest
Patient/HemorrhageClass2Blood.pba = ScenarioTest
Patient/HemorrhageClass2Saline.pba = ScenarioTest
Patient/HemorrhageClass4NoFluid.pba = ScenarioTest
Patient/HemorrhageCM1.pba = ScenarioTest
Patient/HemorrhageCM2.pba = ScenarioTest
Patient/Inhaler_OneActuation.pba = ScenarioTest
Patient/Inhaler_OneActuationWithSpacer.pba = ScenarioTest
Patient/Inhaler_OneActuationIncorrectUse.pba = ScenarioTest
Patient/Inhaler_OneActuationWithSpacerIncorrectUse.pba = ScenarioTest
Patient/Inhaler_TwoActuations.pba = ScenarioTest
Patient/LobarPneumoniaModerateBothLungs.pba = ScenarioTest
Patient/LobarPneumoniaSevereLeftLobe.pba = ScenarioTest
Patient/LobarPneumoniaSevereRightLung.pba = ScenarioTest
Patient/MainstemIntubation.pba = ScenarioTest
Patient/RenalStenosisSevereBilateral.pba = ScenarioTest
Patient/RenalStenosisModerateUnilateral.pba = ScenarioTest
Patient/SinusBradycardia.pba = ScenarioTest
Patient/SinusTachycardia.pba = ScenarioTest
Patient/TensionPneumothoraxBilateral.pba = ScenarioTest
Patient/TensionPneumothoraxClosedVaried.pba = ScenarioTest
Patient/TensionPneumothoraxOpenVaried.pba = ScenarioTest
Patient/VentricularSystolicDysfunction.pba = ScenarioTest
