# @group Creates a new table in the email
# DASH = Don't Run
# ASTERISK = Expected Failure, don't run and put it in the expected failures table (Run Yellow)

# FastPlot = Plot every nth data point (hardcoded)
# FullPlot = Plot all data points
# FastPlotErrors = Only plot failures and only every nth data point (hardcoded)
# FullPlotErrors = Plot all data points only for failing data
# MemoryFastPlot = Do a fast plot, but manage memory better, slower plotting, but can handle larger files

ReportName=Debugging Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

# These are used for testing and utilizing serialization
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.datamodel.testing.CDMUnitTestDriver
#Executor=mil.tatrc.physiology.biogears.testing.BGEUnitTestDriver
#Executor=mil.tatrc.physiology.biogears.testing.ScenarioTestDriver

Macro CDMUnitTest=CDMUnitTestDriver FastPlotErrors Baseline=UnitTests/CDMTests/ Computed=./test_results/unit_tests/cdm
#Macro BGEUnitTest=BGEUnitTestDriver FastPlot Baseline=UnitTests/BioGearsTests/ Computed=./test_results/unit_tests/biogears
#Macro BGEUnitTestFull=BGEUnitTestDriver FullPlot Baseline=UnitTests/BioGearsTests/ Computed=./test_results/unit_tests/biogears
#Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=Scenarios/ Computed=./test_results/scenarios #Results=/BasicStandard

@group Simple Circuits
BadDiodeDC = CDMUnitTest

@group File I/O    
ReadPatientDirectory = CDMUnitTestDriver NoCompare Computed=./test_results/unit_tests/cdm
