# @group Creates a new table in the email
# DASH = Don't Run
# ASTERISK = Expected Failure, don't run and put it in the expected failures table (Run Yellow)

ReportName=System Validation Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

#Patients=all

# These are used for testing and utilizing serialization
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.pulse.testing.ScenarioTestDriver

Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=scenarios/ Computed=./test_results/scenarios

@group

validation/systems/BloodChemistryValidation.pba = ScenarioTest
validation/systems/CardiovascularValidation.pba = ScenarioTest
validation/systems/EndocrineValidation.pba = ScenarioTest
validation/systems/EnergyValidation.pba = ScenarioTest
validation/systems/GastrointestinalValidation.pba = ScenarioTest
validation/systems/NervousValidation.pba = ScenarioTest
validation/systems/RenalValidation.pba = ScenarioTest
validation/systems/RespiratoryValidation.pba = ScenarioTest
validation/systems/TissueValidation.pba = ScenarioTest
