# @group Creates a new table in the email
# DASH = Don't Run
# ASTERISK = Expected Failure, don't run and put it in the expected failures table (Run Yellow)

ReportName=System Validation Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

#Patients=all

# These are used for testing and utilizing serialization
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.biogears.testing.ScenarioTestDriver

Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=Scenarios/ Computed=./test_results/scenarios/

@group

Validation/BloodChemistryValidation.pba = ScenarioTest
Validation/CardiovascularValidation.pba = ScenarioTest
Validation/EndocrineValidation.pba = ScenarioTest
Validation/EnergyValidation.pba = ScenarioTest
Validation/GastrointestinalValidation.pba = ScenarioTest
Validation/NervousValidation.pba = ScenarioTest
Validation/RenalValidation.pba = ScenarioTest
Validation/RespiratoryValidation.pba = ScenarioTest
Validation/TissueValidation.pba = ScenarioTest
