# Syntax
# Each group tag indicates the beginning of a new verification set which will be summarized and sent out in its own email.  
# Notice how information from the header can be specified again under a group tag to override the defaults.

# DASH = Don't Run
# A line that begins with a dash tells the verifier not to run the scenario, but to still include its results in the report.  
# This allows us to run and generate a quick basic report and include these results in later emails without re-running the scenarios.

# ASTERISK = Expected Failure (Run Yellow)
# A line that begins with an asterisk tells the verifier that failure is to be expected from the scenario.  
# These scenarios will not be run and will be placed in the separate yellow block of the email.

ReportName=BioGears Verification Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

# These are used for testing and utilizing serialization
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.biogears.testing.ScenarioTestDriver

Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=Scenarios/ Computed=./test_results/scenarios/

@group

Patient/BasicStandard.pba = ScenarioTest

@group Patient
Patient/AirwayObstructionVaried.pba = ScenarioTest
Patient/AcuteStress.pba = ScenarioTest
Patient/AsthmaAttackModerateAcute.pba = ScenarioTest
Patient/AsthmaAttackSevereAcute.pba = ScenarioTest
Patient/AsthmaAttackLifeThreateningAcute.pba = ScenarioTest
Patient/Anemia30.pba = ScenarioTest
Patient/ApneaVaried.pba = ScenarioTest
Patient/Baroreceptors.pba = ScenarioTest
Patient/BrainInjury.pba = ScenarioTest
Patient/BronchoConstrictionVaried.pba = ScenarioTest
Patient/COPDSevereEmphysema.pba = ScenarioTest
Patient/COPDSevereBronchitis.pba = ScenarioTest
Patient/Cough.pba = ScenarioTest
Patient/CPRForceScaleMax.pba = ScenarioTest
Patient/CPRForceScale.pba = ScenarioTest
Patient/CPRForce.pba = ScenarioTest
Patient/EffusionCondition.pba = ScenarioTest
Patient/EffusionConditionPlus.pba = ScenarioTest
Patient/EsophagealIntubation.pba = ScenarioTest
Patient/HemorrhageClass2NoFluid.pba = ScenarioTest
Patient/HemorrhageClass2Blood.pba = ScenarioTest
Patient/HemorrhageClass2Saline.pba = ScenarioTest
Patient/HemorrhageClass4NoFluid.pba = ScenarioTest
Patient/HemorrhageCM1.pba = ScenarioTest
Patient/HemorrhageCM2.pba = ScenarioTest
Patient/Inhaler_OneActuation.pba = ScenarioTest
Patient/Inhaler_OneActuationWithSpacer.pba = ScenarioTest
Patient/Inhaler_OneActuationIncorrectUse.pba = ScenarioTest
Patient/Inhaler_OneActuationWithSpacerIncorrectUse.pba = ScenarioTest
Patient/Inhaler_TwoActuations.pba = ScenarioTest
Patient/LobarPneumoniaModerateBothLungs.pba = ScenarioTest
Patient/LobarPneumoniaSevereLeftLobe.pba = ScenarioTest
Patient/LobarPneumoniaSevereRightLung.pba = ScenarioTest
Patient/MainstemIntubation.pba = ScenarioTest
Patient/RenalStenosisSevereBilateral.pba = ScenarioTest
Patient/RenalStenosisModerateUnilateral.pba = ScenarioTest
Patient/SinusBradycardia.pba = ScenarioTest
Patient/SinusTachycardia.pba = ScenarioTest
Patient/TensionPneumothoraxBilateral.pba = ScenarioTest
Patient/TensionPneumothoraxClosedVaried.pba = ScenarioTest
Patient/TensionPneumothoraxOpenVaried.pba = ScenarioTest
Patient/VentricularSystolicDysfunction.pba = ScenarioTest

@group EnergyEnvironment
EnergyEnvironment/CarbonMonoxideExtreme.pba = ScenarioTest
EnergyEnvironment/CarbonMonoxideThreshold.pba = ScenarioTest
#EnergyEnvironment/CarbonMonoxideThresholdLong.pba = ScenarioTest
EnergyEnvironment/ColdWaterSubmersion.pba = ScenarioTest
EnergyEnvironment/ExerciseStages.pba = ScenarioTest
EnergyEnvironment/ExerciseVO2max.pba = ScenarioTest
EnergyEnvironment/FireFighter.pba = ScenarioTest
EnergyEnvironment/HighAltitudeEnvironmentChange.pba = ScenarioTest
EnergyEnvironment/HighAltitudeEnvironmentFileChange.pba = ScenarioTest
EnergyEnvironment/InitialHighAltitudeEnvironmentFile.pba = ScenarioTest
EnergyEnvironment/InitialHighAltitudeEnvironmentState.pba = ScenarioTest
EnergyEnvironment/ThermalApplication.pba = ScenarioTest

@group Anesthesia Machine
AnesthesiaMachine/EndotrachealTubeLeakVaried.pba = ScenarioTest
AnesthesiaMachine/ExpiratoryValveObstructionVaried.pba = ScenarioTest
AnesthesiaMachine/ExpiratoryValveLeakVaried.pba = ScenarioTest
AnesthesiaMachine/InspiratoryValveObstructionVaried.pba = ScenarioTest
AnesthesiaMachine/InspiratoryValveLeakVaried.pba = ScenarioTest
AnesthesiaMachine/MaskLeakVaried.pba = ScenarioTest
AnesthesiaMachine/OxygenTankPressureLoss.pba = ScenarioTest
AnesthesiaMachine/OxygenWallPressureLoss.pba = ScenarioTest
AnesthesiaMachine/SodaLimeFailureVaried.pba = ScenarioTest
AnesthesiaMachine/VaporizerFailureVaried.pba = ScenarioTest
AnesthesiaMachine/VentilatorPressureLossVaried.pba = ScenarioTest
AnesthesiaMachine/YpieceDisconnectVaried.pba = ScenarioTest

@group Drugs
Drug/Albuterol.pba = ScenarioTest
Drug/Desflurane.pba = ScenarioTest
Drug/Epinephrine.pba = ScenarioTest
Drug/Fentanyl.pba = ScenarioTest
Drug/Furosemide.pba = ScenarioTest
Drug/Ketamine.pba = ScenarioTest
Drug/Midazolam.pba = ScenarioTest
Drug/Morphine.pba = ScenarioTest
Drug/Naloxone.pba = ScenarioTest
Drug/Pralidoxime.pba = ScenarioTest
Drug/Prednisone.pba = ScenarioTest
Drug/Propofol.pba = ScenarioTest
Drug/Rocuronium.pba = ScenarioTest
Drug/Succinylcholine.pba = ScenarioTest

@group ConsumeMeal
#ConsumeMeal/12hrPreOp.pba = ScenarioTest
#ConsumeMeal/Dehydration.pba = ScenarioTest
#ConsumeMeal/PostMeal2hr.pba = ScenarioTest
#ConsumeMeal/SalineIngestion.pba = ScenarioTest
#ConsumeMeal/Starvation.pba = ScenarioTest
#ConsumeMeal/WaterIngestion.pba = ScenarioTest

@group Combined
Combined/Gus.pba = ScenarioTest
Combined/Joel.pba = ScenarioTest
Combined/Hassan.pba = ScenarioTest
Combined/Cynthia.pba = ScenarioTest
Combined/Nathan.pba = ScenarioTest

@group Showcase
Showcase/CombatMultitrauma.pba = ScenarioTest
Showcase/AsthmaAttack.pba = ScenarioTest
Showcase/EnvironmentExposure.pba = ScenarioTest
Showcase/HeatStroke.pba = ScenarioTest

@group Miscellaneous
#Miscellaneous/12hrFastAsCondition.pba = ScenarioTest
Miscellaneous/AirwayObstructionDeath.pba = ScenarioTest
Miscellaneous/AnesthesiaMachineVariedConfiguration.pba = ScenarioTest
Miscellaneous/AsthmaAttackDeath.pba = ScenarioTest
Miscellaneous/BleedToDeath.pba = ScenarioTest
Miscellaneous/Comprehensive.pba = ScenarioTest
#Miscellaneous/FullDay.pba = ScenarioTest
Miscellaneous/HouseFireSmoke.pba = ScenarioTest
Miscellaneous/ImpairedAlveolarExchangeFraction.pba = ScenarioTest
Miscellaneous/ImpairedAlveolarExchangeSurfaceArea.pba = ScenarioTest
Miscellaneous/MechanicalVentilation.pba = ScenarioTest
Miscellaneous/MultiDrug.pba = ScenarioTest
Miscellaneous/TBIandDrugs.pba = ScenarioTest

@group Compartments
#Compartments/UserSpecific.pba = ScenarioTest
Compartments/AnesthesiaMachineCompartments.pba = ScenarioTest
Compartments/ChymeCompartments.pba = ScenarioTest
Compartments/LymphCompartments.pba = ScenarioTest
Compartments/PulmonaryCompartments.pba = ScenarioTest
Compartments/TemperatureCompartments.pba = ScenarioTest
Compartments/TissueCompartments.pba = ScenarioTest
Compartments/UrineCompartments.pba = ScenarioTest
Compartments/VascularCompartments.pba = ScenarioTest