# Syntax
# Each group tag indicates the beginning of a new verification set which will be summarized and sent out in its own email.  
# Notice how information from the header can be specified again under a group tag to override the defaults.

# DASH = Don't Run
# A line that begins with a dash tells the verifier not to run the scenario, but to still include its results in the report.  
# This allows us to run and generate a quick basic report and include these results in later emails without re-running the scenarios.

# ASTERISK = Expected Failure (Run Yellow)
# A line that begins with an asterisk tells the verifier that failure is to be expected from the scenario.  
# These scenarios will not be run and will be placed in the separate yellow block of the email.

ReportName=Verification Test Summary
ExecuteTests=true
PlotResults=true
PercentDifference=2.0
Threads=-1

# These are used for testing and utilizing serialization
# Replace patient file with it's associated patient state, if scenario has no conditions
#UseStates=true
# AutoSerialize = Directory,Period(in seconds, 0 turns off constant saving),TimeStampPeriods,AfterActions,Reload
#AutoSerialization=./states/testing/,5,Off,On,On

Executor=mil.tatrc.physiology.pulse.testing.ScenarioTestDriver

Macro ScenarioTest=ScenarioTestDriver FastPlot Baseline=scenarios/ Computed=./test_results/scenarios

@group

patient/BasicStandard.pba = ScenarioTest

@group Patient
patient/AirwayObstructionVaried.pba = ScenarioTest
patient/AcuteStress.pba = ScenarioTest
patient/AsthmaAttackModerateAcute.pba = ScenarioTest
patient/AsthmaAttackSevereAcute.pba = ScenarioTest
patient/AsthmaAttackLifeThreateningAcute.pba = ScenarioTest
patient/Anemia30.pba = ScenarioTest
patient/ApneaVaried.pba = ScenarioTest
patient/Baroreceptors.pba = ScenarioTest
patient/BrainInjury.pba = ScenarioTest
patient/BronchoConstrictionVaried.pba = ScenarioTest
patient/COPDSevereEmphysema.pba = ScenarioTest
patient/COPDSevereBronchitis.pba = ScenarioTest
patient/Cough.pba = ScenarioTest
patient/CPRForceScaleMax.pba = ScenarioTest
patient/CPRForceScale.pba = ScenarioTest
patient/CPRForce.pba = ScenarioTest
patient/EffusionCondition.pba = ScenarioTest
patient/EffusionConditionPlus.pba = ScenarioTest
patient/EsophagealIntubation.pba = ScenarioTest
patient/HemorrhageClass2NoFluid.pba = ScenarioTest
patient/HemorrhageClass2Blood.pba = ScenarioTest
patient/HemorrhageClass2Saline.pba = ScenarioTest
patient/HemorrhageClass4NoFluid.pba = ScenarioTest
patient/HemorrhageCM1.pba = ScenarioTest
patient/HemorrhageCM2.pba = ScenarioTest
patient/Inhaler_OneActuation.pba = ScenarioTest
patient/Inhaler_OneActuationWithSpacer.pba = ScenarioTest
patient/Inhaler_OneActuationIncorrectUse.pba = ScenarioTest
patient/Inhaler_OneActuationWithSpacerIncorrectUse.pba = ScenarioTest
patient/Inhaler_TwoActuations.pba = ScenarioTest
patient/LobarPneumoniaModerateBothLungs.pba = ScenarioTest
patient/LobarPneumoniaSevereLeftLobe.pba = ScenarioTest
patient/LobarPneumoniaSevereRightLung.pba = ScenarioTest
patient/MainstemIntubation.pba = ScenarioTest
patient/RenalStenosisSevereBilateral.pba = ScenarioTest
patient/RenalStenosisModerateUnilateral.pba = ScenarioTest
patient/SinusBradycardia.pba = ScenarioTest
patient/SinusTachycardia.pba = ScenarioTest
patient/TensionPneumothoraxBilateral.pba = ScenarioTest
patient/TensionPneumothoraxClosedVaried.pba = ScenarioTest
patient/TensionPneumothoraxOpenVaried.pba = ScenarioTest
patient/VentricularSystolicDysfunction.pba = ScenarioTest

@group EnergyEnvironment
energyenvironment/CarbonMonoxideExtreme.pba = ScenarioTest
energyenvironment/CarbonMonoxideThreshold.pba = ScenarioTest
#energeEnvironment/CarbonMonoxideThresholdLong.pba = ScenarioTest
energyenvironment/ColdWaterSubmersion.pba = ScenarioTest
energyenvironment/ExerciseStages.pba = ScenarioTest
energyenvironment/ExerciseVO2max.pba = ScenarioTest
energyenvironment/FireFighter.pba = ScenarioTest
energyenvironment/HighAltitudeEnvironmentChange.pba = ScenarioTest
energyenvironment/HighAltitudeEnvironmentFileChange.pba = ScenarioTest
energyenvironment/InitialHighAltitudeEnvironmentFile.pba = ScenarioTest
energyenvironment/InitialHighAltitudeEnvironmentState.pba = ScenarioTest
energyenvironment/ThermalApplication.pba = ScenarioTest

@group Anesthesia Machine
anesthesiamachine/EndotrachealTubeLeakVaried.pba = ScenarioTest
anesthesiamachine/ExpiratoryValveObstructionVaried.pba = ScenarioTest
anesthesiamachine/ExpiratoryValveLeakVaried.pba = ScenarioTest
anesthesiamachine/InspiratoryValveObstructionVaried.pba = ScenarioTest
anesthesiamachine/InspiratoryValveLeakVaried.pba = ScenarioTest
anesthesiamachine/MaskLeakVaried.pba = ScenarioTest
anesthesiamachine/OxygenTankPressureLoss.pba = ScenarioTest
anesthesiamachine/OxygenWallPressureLoss.pba = ScenarioTest
anesthesiamachine/SodaLimeFailureVaried.pba = ScenarioTest
anesthesiamachine/VaporizerFailureVaried.pba = ScenarioTest
anesthesiamachine/VentilatorPressureLossVaried.pba = ScenarioTest
anesthesiamachine/YpieceDisconnectVaried.pba = ScenarioTest

@group Drugs
drug/Albuterol.pba = ScenarioTest
drug/Desflurane.pba = ScenarioTest
drug/Epinephrine.pba = ScenarioTest
drug/Fentanyl.pba = ScenarioTest
drug/Furosemide.pba = ScenarioTest
drug/Ketamine.pba = ScenarioTest
drug/Midazolam.pba = ScenarioTest
drug/Morphine.pba = ScenarioTest
drug/Naloxone.pba = ScenarioTest
drug/Pralidoxime.pba = ScenarioTest
drug/Prednisone.pba = ScenarioTest
drug/Propofol.pba = ScenarioTest
drug/Rocuronium.pba = ScenarioTest
drug/Succinylcholine.pba = ScenarioTest

@group ConsumeMeal
#consumeMeal/ConsumeMeal2hrAgo.pba = ScenarioTest
#consumeMeal/Dehydration.pba = ScenarioTest
#consumeMeal/Peronnet300mL.pba = ScenarioTest
#consumeMeal/RunningOnEmpty.pba = ScenarioTest
#consumeMeal/SalineIngestion.pba = ScenarioTest
#consumeMeal/Starvation.pba = ScenarioTest
#consumeMeal/WaterIngestion.pba = ScenarioTest

@group Combined
combined/Gus.pba = ScenarioTest
combined/Joel.pba = ScenarioTest
combined/Hassan.pba = ScenarioTest
combined/Cynthia.pba = ScenarioTest
combined/Nathan.pba = ScenarioTest

@group Showcase
showcase/CombatMultitrauma.pba = ScenarioTest
showcase/AsthmaAttack.pba = ScenarioTest
showcase/EnvironmentExposure.pba = ScenarioTest
showcase/HeatStroke.pba = ScenarioTest

@group Miscellaneous
#miscellaneous/12hrFastAsCondition.pba = ScenarioTest
miscellaneous/AirwayObstructionDeath.pba = ScenarioTest
miscellaneous/AnesthesiaMachineVariedConfiguration.pba = ScenarioTest
miscellaneous/AsthmaAttackDeath.pba = ScenarioTest
miscellaneous/BleedToDeath.pba = ScenarioTest
miscellaneous/Comprehensive.pba = ScenarioTest
#miscellaneous/FullDay.pba = ScenarioTest
miscellaneous/HouseFireSmoke.pba = ScenarioTest
miscellaneous/ImpairedAlveolarExchangeFraction.pba = ScenarioTest
miscellaneous/ImpairedAlveolarExchangeSurfaceArea.pba = ScenarioTest
miscellaneous/MechanicalVentilation.pba = ScenarioTest
miscellaneous/MultiDrug.pba = ScenarioTest
miscellaneous/TBIandDrugs.pba = ScenarioTest

@group Compartments
#compartments/UserSpecific.pba = ScenarioTest
compartments/AnesthesiaMachineCompartments.pba = ScenarioTest
compartments/ChymeCompartments.pba = ScenarioTest
compartments/LymphCompartments.pba = ScenarioTest
compartments/PulmonaryCompartments.pba = ScenarioTest
compartments/TemperatureCompartments.pba = ScenarioTest
compartments/TissueCompartments.pba = ScenarioTest
compartments/UrineCompartments.pba = ScenarioTest
compartments/VascularCompartments.pba = ScenarioTest