/bin/markdown/
/bin/compare_results/
/bin/graph_results/
/bin/UnitTests/
/bin/Debug/
/bin/Debug64/
/bin/RelWithDebInfo/
/bin/RelWithDebInfo64/
/bin/Release/
/bin/Release64/
/bin/Scenarios/
/bin/states/
/bin/stable/
/bin/validation/
/bin/xsd/
/bin/UCEDefs.txt
/bin/*.jar
/bin/*.log
/bin/*.xml

/cdm/build/

/engine/build/

/schema/build/
/schema/cpp_schema_built
/schema/java_schema_built
/schema/java/mil/tatrc/physiology/datamodel/bind/
/schema/cpp/bind/min/
/schema/cpp/bind/*.hxx
/schema/cpp/bind/*.cxx


