/bin/config
/bin/environments
/bin/nutrition/
/bin/patients/
/bin/substances/

/bin/compare_results/
/bin/debug32/
/bin/debug/
/bin/graph_results/
/bin/relwithdebinfo32/
/bin/relwithdebinfo/
/bin/release32/
/bin/release/
/bin/stable/
/bin/states/
/bin/test_results/
/bin/xsd/
/bin/*.jar
/bin/*.log
/bin/*.xml

/cdm/build/

/engine/build/

/schema/build/
/schema/xsd_last_built
/schema/java/mil/tatrc/physiology/datamodel/bind/
/schema/cpp/bind/min/
/schema/cpp/bind/*.hxx
/schema/cpp/bind/*.cxx

/sdk/include
/sdk/lib

/test/build/

/verification/


